# Operating System Files
*.DS_Store
Thumbs.db

# Build Files
bin
target
build/
classes/
.gradle
classes/production/

# Eclipse Project Files
.classpath
.project
.settings

# STS Project Files
.springBeans
.apt_generated
.factorypath

# IntelliJ IDEA Files #
*.iml
*.ipr
*.iws
*.idea
*.ckp
*.tlog

# NetBeans Project Files #
nbactions.xml
nb-configuration.xml
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# PMD
.pmd

# Frontend sources
bisis-angular-client/node_modules
bisis-angular-client/tmp
bisis-angular-client/dist
bisis-angular-client/out-tsc
bisis-angular-client/e2e/*.js
bisis-angular-client/e2e/*.map
bisis-angular-client/npm-debug.log
bisis-angular-client/typings
bisis-angular-client/.sass-cache
bisis-angular-client/connect.lock
bisis-angular-client/coverage/*
bisis-angular-client/libpeerconnection.log
bisis-angular-client/testem.log

# Frontend compiled output
bisis-angular-client/static

# ElasticSearch

data/elasticsearch/*
classes/production/bisis-backend/db/changesets/records.js
bisis-backend/data
data.rar
bisis-backend/src/main/resources/application.yml
bisis-backend/src/main/resources/application.yml
bisis-backend/src/main/resources/application.yml
bisis-backend/src/main/resources/application.yml
bisis-backend/src/main/resources/application.yml
bisis-backend/src/main/resources/application.yml
bisis-backend/src/main/resources/application.yml
bisis-backend/src/main/resources/application.yml
bisis-backend/src/main/resources/application.yml
bisis-backend/src/main/resources/application.yml