
<div class="ui-g-12" align="center">
  <br>
  <h3>Унесите нову лозинку:</h3>
  <span class="md-inputfield"><br>
                        <input pInputText  #pass1 class="ui-inputtext ui-corner-all ui-state-default ui-widget" type="password" style="width: 300px;"
                             placeholder="Нова лозинка"  (keyup.enter)="confirmNewPassword(pass1.value, pass2.value)" required><br><br>
                         <input pInputText  #pass2 class="ui-inputtext ui-corner-all ui-state-default ui-widget" type="password" style="width: 300px;"
                               placeholder="Поново" (keyup.enter)="confirmNewPassword(pass1.value, pass2.value)" required>
                    </span> <br><br>
  <button type="button" (click)="confirmNewPassword(pass1.value, pass2.value)" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
    <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-check"></span>
    <span class="ui-button-text ui-c">Промените лозинку</span>
  </button>
</div>