
    <p-tabView>
        <p-tabPanel header="{{ 'searchFormUniversalTab' | translate }}">
                <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-6 ui-lg-12" >
                                <h3 class="first customfontcolor">{{ 'searchFormHeader' | translate }}</h3>
                            <div class="ui-inputgroup">
                                <input (keyup.enter)="searchBy(searchText1)" type="text" pInputText placeholder="{{ 'searchFormUniversalInputPlaceholder' | translate }}" [(ngModel)]="searchText1"> <br>
                            </div><br>
                            <div class="ui-inputgroup">
                                <!--button pButton type="button" label="Search all(testing)" (click)="search()"></button>  <br-->
                                <button [disabled]="lib == undefined && (selectedLibrary == null || selectedLibrary == undefined || selectedLibrary == '')" icon="ui-icon-search" class="cyan-btn" pButton type="button"
                                        label="{{ 'searchFormSearchBtn' | translate }}" (click)="searchBy(searchText1)"></button>
                            </div>
                        </div>
                </div>   
            </p-tabPanel>          
            <p-tabPanel header="{{ 'searchFormAdvancedTab' | translate }}">
                <div class="ui-g form-group ui-fluid">

                    <div class="ui-g-12 ui-md-4 ui-lg-4 customfontcolor"  align="center" style="border-right: solid 1px #989898;">
                        <label><b>{{ 'searchAdvancedPrefix' | translate }}</b></label>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4 customfontcolor"  align="center" style="border-right: solid 1px #989898;">
                        <label><b>{{ 'searchAdvancedText' | translate }}</b></label>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4 customfontcolor"  align="center" >
                        <label><b>{{ 'searchAdvancedBinding' | translate }}</b></label>
                    </div>

                    <div class="ui-g-12 ui-md-4 ui-lg-4" align="right">
                        <p-dropdown [options]="allPrefixes"  [style]="{'width':'100%'}" [(ngModel)]="prefix1" (onChange)="changed($event.value, 0)" ></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                        <input *ngIf="prefix1.isCoder == false" type="text" [(ngModel)]="text[0]" pInputText (keyup.enter)="searchAdvanced(text[0],text[1],text[2],text[3],text[4],prefix1,prefix2,prefix3,prefix4,prefix5,bonding1,bonding2,bonding3,bonding4)">
                        <p-dropdown *ngIf="prefix1.isCoder == true" [options]="coderValues[0]" [filter]="true" [style]="{'width':'100%'}" [(ngModel)]="text[0]"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4" >
                        <p-dropdown [options]="bondings" [style]="{'width':'30%'}" [(ngModel)]="bonding1" ></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-4 ui-lg-4" align="right">
                        <p-dropdown [options]="allPrefixes" [style]="{'width':'100%'}" [(ngModel)]="prefix2" (onChange)="changed($event.value,1)"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                        <input type="text"  *ngIf="prefix2.isCoder == false"  [(ngModel)]="text[1]" pInputText (keyup.enter)="searchAdvanced(text[0],text[1],text[2],text[3],text[4],prefix1,prefix2,prefix3,prefix4,prefix5,bonding1,bonding2,bonding3,bonding4)">
                        <p-dropdown *ngIf="prefix2.isCoder == true" [options]="coderValues[1]" [style]="{'width':'100%'}" [(ngModel)]="text[1]"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                        <p-dropdown [options]="bondings" [style]="{'width':'30%'}" [(ngModel)]="bonding2"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-4 ui-lg-4" align="right">
                        <p-dropdown [options]="allPrefixes" [style]="{'width':'100%'}" [(ngModel)]="prefix3" (onChange)="changed($event.value,2)"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                        <input type="text"  *ngIf="prefix3.isCoder == false"  [(ngModel)]="text[2]" pInputText (keyup.enter)="searchAdvanced(text[0],text[1],text[2],text[3],text[4],prefix1,prefix2,prefix3,prefix4,prefix5,bonding1,bonding2,bonding3,bonding4)">
                        <p-dropdown *ngIf="prefix3.isCoder == true" [options]="coderValues[2]" [style]="{'width':'100%'}" [(ngModel)]="text[2]"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                        <p-dropdown [options]="bondings"  [style]="{'width':'30%'}" [(ngModel)]="bonding3"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-4 ui-lg-4" align="right">
                        <p-dropdown [options]="allPrefixes" [style]="{'width':'100%'}" [(ngModel)]="prefix4" (onChange)="changed($event.value,3)"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                        <input type="text"  *ngIf="prefix4.isCoder == false"  [(ngModel)]="text[3]" pInputText (keyup.enter)="searchAdvanced(text[0],text[1],text[2],text[3],text[4],prefix1,prefix2,prefix3,prefix4,prefix5,bonding1,bonding2,bonding3,bonding4)">
                        <p-dropdown *ngIf="prefix4.isCoder == true" [options]="coderValues[3]" [style]="{'width':'100%'}" [(ngModel)]="text[3]"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                        <p-dropdown [options]="bondings"  [style]="{'width':'30%'}" [(ngModel)]="bonding4"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-4 ui-lg-4" align="right">
                        <p-dropdown [options]="allPrefixes" [style]="{'width':'100%'}" [(ngModel)]="prefix5" (onChange)="changed($event.value,4)"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                        <input type="text"  *ngIf="prefix5.isCoder == false"  [(ngModel)]="text[4]" pInputText (keyup.enter)="searchAdvanced(text[0],text[1],text[2],text[3],text[4],prefix1,prefix2,prefix3,prefix4,prefix5,bonding1,bonding2,bonding3,bonding4)">
                        <p-dropdown *ngIf="prefix5.isCoder == true" [options]="coderValues[4]" [style]="{'width':'100%'}" [(ngModel)]="text[4]"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4" align="right">
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                        <button [disabled]="lib == undefined && (selectedLibrary == null || selectedLibrary == undefined || selectedLibrary == '')" icon="ui-icon-search" class="cyan-btn" pButton type="button" label="{{ 'searchFormSearchBtn' | translate }}" (click)="searchAdvanced(text[0],text[1],text[2],text[3],text[4],prefix1,prefix2,prefix3,prefix4,prefix5,bonding1,bonding2,bonding3,bonding4)"></button>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-lg-4">
                    </div>
                </div>
            </p-tabPanel>
    </p-tabView>

    <p-dialog header="Учитавање" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="860" [closable]="false" [draggable]="false">
        <p-progressBar [value]="value"></p-progressBar>
    </p-dialog>