<div class="card card-w-title">
    <!--span class="md-inputfield">
        <button type="button" pButton label="search" icon="ui-icon-search" (click)="search()"></button>
    </span>      Search form.........-->
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup">
                    <p-splitButton [model]="searchChoices"></p-splitButton>
                    <input type="text" pInputText placeholder="Keyword">   
                    <button pButton type="button" icon="fa-search" class="ui-button-secondary" (click)="search()"></button>      
                </div>
        </div>
    </div>
</div> 