
    <p-tabView>
        <p-tabPanel header="Универзална претрага">
                <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-6 ui-lg-12" >
                                <h3 class="first">Унесите текст претраге:</h3>
                            <div class="ui-inputgroup">
                                <input type="text" pInputText placeholder="текст" [(ngModel)]="searchText1"> <br>
                            </div><br>
                            <div class="ui-inputgroup">
                                <!--button pButton type="button" label="Search all(testing)" (click)="search()"></button>  <br-->
                                <button [disabled]="lib == undefined && (selectedLibrary == null || selectedLibrary == undefined || selectedLibrary == '')" icon="ui-icon-search" class="blue-grey-btn" pButton type="button" label="Претражи" (click)="searchBy(searchText1)"></button>
                            </div>
                        </div>
                </div>   
            </p-tabPanel>          
            <p-tabPanel header="Напредна претрага">
                <div class="ui-g form-group ui-fluid">
                    <div class="ui-g-12 ui-md-6 ui-lg-4" align="right">
                        <label><b>Префикс</b></label>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4" align="center">
                        <label><b>Текст</b></label>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <label><b>Везник</b></label>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4" align="right">
                        <p-dropdown [options]="demos" [(ngModel)]="selected"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <input type="text" pInputText >
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <p-dropdown [options]="demos" [(ngModel)]="selected"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4" align="right">
                        <p-dropdown [options]="demos" [(ngModel)]="selected"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <input type="text" pInputText >
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <p-dropdown [options]="demos" [(ngModel)]="selected"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4" align="right">
                        <p-dropdown [options]="demos" [(ngModel)]="selected"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <input type="text" pInputText >
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <p-dropdown [options]="demos" [(ngModel)]="selected"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4" align="right">
                        <p-dropdown [options]="demos" [(ngModel)]="selected"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <input type="text" pInputText >
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <p-dropdown [options]="demos" [(ngModel)]="selected"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4" align="right">
                        <p-dropdown [options]="demos" [(ngModel)]="selected"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <input type="text" pInputText >
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <p-dropdown [options]="demos" [(ngModel)]="selected"></p-dropdown>
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4" align="right">
                        <p-dropdown [options]="demos" [(ngModel)]="selected"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <input type="text" pInputText >
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                    </div>

                    <div class="ui-g-12 ui-md-6 ui-lg-4" align="right">
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                        <button icon="ui-icon-search" class="blue-grey-btn" pButton type="button" label="Претражи" (click)="searchBy(searchText1)"></button>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                    </div>
                </div>
            </p-tabPanel>
    </p-tabView>
