@import '../assets/theme/theme-cyan';

:host ::ng-deep button {
  margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
  color: #ffffff;
  background: $primaryDarkColor;
  background: -webkit-linear-gradient(to right, $primaryDarkColor, $primaryLightColor);
  background: linear-gradient(to right, $primaryDarkColor, $primaryLightColor);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
  color: #ffffff;
}
