<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>БИСИС пријава</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form th:action="@{/login}" method="post">
            <h1>БИСИС пријава</h1>
            <input id="username" name="username" type="email" placeholder="Корисничко име" />
            <input id="password" name="password" type="password" placeholder="Лозинка" />
            <button type="submit">Пријави се</button>
            <div th:if="${(param.error != null)}">
                Погрешно корисничко име и/или лозинка
            </div>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1 th:text="${applicationName}"></h1>
                <p>Ова апликација добија приступ само вашем корисничком имену.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>


