.customfontcolor {
    color: #00a5bb;
}
.down-input-border {
    border: 1px solid #000;
    width: 200px;
    padding: 20px;
    font-size: 20px;
}

input {
    border: 1px solid #000;
    width: 200px;
    padding: 20px;
    font-size: 20px;
}
