

<div class="ui-grid ui-grid-responsive ui-grid-pad">
    <p-selectButton [options]="viewTypes" [(ngModel)]="selectedViewType" (click)="makeUnimarc(selectedRec.fullRecord)"></p-selectButton><br><br>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedRec && (isPage != true)"><a href="#/record-view/{{ getLibCode() }}/{{selectedRec.prefixEntity.id}}">Линк ка запису</a></div>

<!--Default prikaz-->
<div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedRec && selectedViewType == 'general'" style="font-size:16px;text-align:center;padding:20px; border:1px solid #D5D5D5;">
  <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.TI" style="border-bottom:1px solid #D5D5D5">
      <div class="ui-grid-col-3"  align="left"><b>{{ 'titleTranslate' | translate }}: </b></div>
      <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.TI}}</div>
  </div>
  <div class="ui-grid-row" *ngIf="selectedRec.prefixEntity.prefixes.AU" style="border-bottom:1px solid #D5D5D5">
      <div class="ui-grid-col-3"  align="left"><b>{{ 'authorTranslate' | translate }}: </b></div>
      <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.AU}}</div>
  </div>
  <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.PY" style="border-bottom:1px solid #D5D5D5">
      <div class="ui-grid-col-3"  align="left"><b>{{ 'publishYearTranslate' | translate }}: </b></div>
      <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.PY}}</div>
  </div>
  <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.PU" style="border-bottom:1px solid #D5D5D5">
      <div class="ui-grid-col-3"  align="left"><b>{{ 'publisherTranslate' | translate }}: </b></div>
      <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.PU}}</div>
  </div>
  <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.KW" style="border-bottom:1px solid #D5D5D5">
      <div class="ui-grid-col-3"  align="left"><b>{{ 'keywordsTranslate' | translate }}: </b></div>
      <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.KW}}</div>
  </div>
  <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.SG" style="border-bottom:1px solid #D5D5D5">
      <div class="ui-grid-col-3"  align="left"><b>{{ 'signatureTranslate' | translate }}: </b></div>
      <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.SG}}</div>
  </div>
  <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.DC" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'udkTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.DC}}</div>
  </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes['215a']" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'pagesTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes['215a']}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes['215d']" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'dimensionsTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes['215d']}}</div>
    </div>
    <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-12" align="left">
            <button pTooltip="Израда у току." icon="ui-icon-check" class="blue-grey-btn" pButton type="button" label="{{ 'reserveTranslate' | translate }}" disabled="true"></button>
            <button *ngIf="this.ah.authenticated"  icon="ui-icon-book" class="primary-btn" pButton type="button" label="{{ 'addToBookshelfTranslate' | translate }}" ></button>
            <button pTooltip="Молимо вас пријавите се како би додали књигу на полицу." *ngIf="this.ah.authenticated == undefined"  icon="ui-icon-book" class="primary-btn" pButton type="button" label="{{ 'addToBookshelfTranslate' | translate }}" disabled="true"></button>
        </div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.listOfItems != undefined && selectedRec.listOfItems.length > 0" style="margin-top: 10px;">
        <div class="ui-grid-col-12" align="left">
            <p-fieldset [toggleable]="true" [collapsed]="true">
                <p-header>{{ 'itemsTranslate' | translate }}</p-header>
                    <div class="ui-grid-row" align="left" *ngFor="let p of selectedRec.listOfItems">
                        {{p.ctlgNo}} -
                        <span *ngIf="p.borrowed == false "><font color="green"><b> {{ 'freeTranslate' | translate }}</b></font></span>
                        <span *ngIf="p.borrowed == true"><font color="red"><b> {{ 'takenTranslate' | translate }}</b></font></span>
                       <div style="margin-left: 20px;"> Одељење:
                        <span *ngIf="p.libDepartment != null"><b>{{ p.libDepartment }}</b></span>
                        <span *ngIf="p.libDepartment == null"><b>Непознато</b></span>
                       </div>
                    </div>
                </p-fieldset>
        </div>
    </div>
</div>

<!--Detaljni prikaz-->
<div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedRec && selectedViewType == 'detail'" style="font-size:16px;text-align:center;padding:20px; border:1px solid #D5D5D5;">
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.TI" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'titleTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.TI}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes['200e']" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'additionsToTitle' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes['200e']}}</div>
    </div>
    <div class="ui-grid-row" *ngIf="selectedRec.prefixEntity.prefixes.AU" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'authorTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.AU}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.PY" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'publishYearTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.PY}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.PU" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'publisherTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.PU}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.KW" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'keywordsTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.KW}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.SG" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'signatureTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.SG}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes.DC" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'udkTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes.DC}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes['215a']" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'pagesTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes['215a']}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes['215d']" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'dimensionsTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes['215d']}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes['225a']" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'genreTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes['225a']}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes['992b']" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'bibliographyNumTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes['992b']}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes['210a']" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'publishingPlaceTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes['210a']}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes['996r']" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'inventoryAddtionsTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes['996r']}}</div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.prefixEntity.prefixes['992c']" style="border-bottom:1px solid #D5D5D5">
        <div class="ui-grid-col-3"  align="left"><b>{{ 'publishedCountTranslate' | translate }}: </b></div>
        <div class="ui-grid-col-9" align="left">{{selectedRec.prefixEntity.prefixes['992c']}}</div>
    </div>
    <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-12" align="left">
            <button icon="ui-icon-check" class="blue-grey-btn" pButton type="button" label="{{ 'reserveTranslate' | translate }}" disabled="true"></button>
            <button icon="ui-icon-book" class="primary-btn" pButton type="button" label="{{ 'addToBookshelfTranslate' | translate }}" ></button>
        </div>
    </div>
    <div class="ui-grid-row"  *ngIf="selectedRec.listOfItems != undefined && selectedRec.listOfItems.length > 0" style="margin-top: 10px;">
        <div class="ui-grid-col-12" align="left">
            <p-fieldset [toggleable]="true" [collapsed]="true">
                <p-header>{{ 'itemsTranslate' | translate }}</p-header>
                <div class="ui-grid-row" align="left" *ngFor="let p of selectedRec.listOfItems">
                    <!--div class="ui-grid-col-2"-->
                    {{p.ctlgNo}} - <span *ngIf="p.borrowed == false "><font color="green"><b>{{ 'freeTranslate' | translate }}</b></font></span>
                    <span *ngIf="p.borrowed == true"><font color="red"><b>{{ 'takenTranslate' | translate }}</b></font></span>
                    Одељење:  <span *ngIf="p.libDepartmetnt != null"><b>{{p.libDepartment}}</b></span>
                    <span *ngIf="p.libDepartmetnt == null"><b>Непознато</b></span>
                    <!--/div-->
                </div>
            </p-fieldset>
        </div>
    </div>
</div>

<!-- Unimark prikaz-->
<div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedRec && selectedViewType == 'unimarc'" style="font-size:16px;text-align:left;padding:20px; border:1px solid #D5D5D5;">
    <div class="ui-grid-col-12" *ngFor="let row of unimarcRows;">{{row}}</div>
</div>