<h1 *ngIf="lib == undefined" class="customfontcolor" align="center">Претраживање библиотеке</h1>
<h1 *ngIf="lib" class="customfontcolor" align="center">{{libHeader}}</h1>
<div class="card card-w-title">
 <div *ngIf="lib" class="customfontcolor">
   <!--Библиотека: {{libHeader}}-->
     <div class="ui-grid-row" *ngIf="departmentList.length > 0"> <br>
         <div class="ui-grid-col-4 customfontcolor"  align="left">
             <b>Одаберите огранке:</b>
         </div>
         <div class="ui-grid-col-8" align="left">
             <p-multiSelect  [selectedItemsLabel]="'{0} одабраних огранака'" [defaultLabel]="'Било који огранак'"  [options]="departmentList" [(ngModel)]="selectedDepartments"></p-multiSelect>
         </div>
     </div>
 </div>
  <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="lib == undefined || lib == ''" style="font-size:14px;text-align:center;padding:20px;">
      <div class="ui-grid-row" >
          <div class="ui-grid-col-4 customfontcolor"  align="left">
              <b>Библиотека: </b>
          </div>
          <div class="ui-grid-col-8"  align="left">
            <p-dropdown [options]="libList" [(ngModel)]="selectedLibrary" (onChange)="bisisSearchForm.setLib($event); selectionChanged()"></p-dropdown>
          </div>
      </div><br>
      <div class="ui-grid-row" *ngIf="departmentList.length > 0">
          <div class="ui-grid-col-4 customfontcolor"  align="left">
              <b>Одаберите огранке:</b>
          </div>
          <div class="ui-grid-col-8" align="left">
              <p-multiSelect  [selectedItemsLabel]="'{0} одабраних огранака'" [defaultLabel]="'Било који огранак'"  [options]="departmentList" [(ngModel)]="selectedDepartments"></p-multiSelect>
          </div>
      </div>
  </div>
</div>
<app-search-form #bisisSearchForm (serviceCallResult)='setRecords($event)'
                 [lib]=lib [selectedLibrary]=selectedLibrary [selectedDeps]=selectedDepartments ></app-search-form>
<app-result-view [data]=searchResults ></app-result-view>