<div class="card login-panel ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <img src="../../../assets/layout/images/logo-bisis2.png" width="180">
    </div>
    <form role="form" (submit)="login($event, username.value, password.value)">
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input type="text" autocomplete="off" #username id="username"
                 class="ui-inputtext ui-corner-all ui-state-default ui-widget">
          <label>{{ 'loginUseranamePlaceholder' | translate }}</label>
        </span>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input type="password" autocomplete="off" #password id="password"
                 class="ui-inputtext ui-corner-all ui-state-default ui-widget">
          <label>{{ 'loginPasswordPlaceholder' | translate }}</label>
        </span>
      </div>
      <div class="ui-g-12">
        <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
          <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
          <span class="ui-button-text ui-c">{{ 'loginBtn' | translate }}</span>
        </button>
        <button type="button" (click)="forgotPass($event)" style="color:white;"
                class="secondary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
          <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-help"></span>
          <span class="ui-button-text ui-c">{{ 'forgotPassBtn' | translate }}?</span>
        </button>
      </div>
    </form>
  </div>
</div>
