<div class="ui-g-12" align="center">
  <br>
  <h3>Молимо вас унесите email адресу на коју је ваш налог регистрован:</h3>
                    <span class="md-inputfield"><br>
                        <input pInputText  #email class="ui-inputtext ui-corner-all ui-state-default ui-widget" type="text" style="width: 300px;"
                               (keyup.enter)="requestPasswordReset( email.value)" required>
                    </span> <br>
    <button type="button" (click)="requestPasswordReset( email.value)" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
    <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
    <span class="ui-button-text ui-c">Рестарт лозинке</span>
  </button>
</div>